.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre filas */
}

.form-group {
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-start; /* Alinea el botón al inicio */
}
